.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #071a2d;
  padding: 15px 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(0,255,255,0.15);
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.navbar li {
  color: #cbd5e1;
  cursor: pointer;
  font-size: 0.95rem;
  transition: 0.3s;
}

.navbar li:hover {
  color: cyan;
}